* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

body {
    position: relative;
    height: 100vh;
    background-image: linear-gradient(rgba(62, 20, 20, 0.4), rgba(62, 20, 20, 0.4)), url(../img/bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #555;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

.wrapper {
    width: 1000px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    overflow: hidden;
}

.player-0-panel,
.player-1-panel {
    float: left;
    width: 50%;
    height: 600px;
    padding: 100px;
}

/**********************************************
*** PLAYERS
**********************************************/
.player-name {
    position: relative;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 40px;
    font-weight: 100;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    outline: none;
}

.player-score {
    margin-bottom: 130px;
    color: #EB4D4D;
    font-size: 80px;
    font-weight: 200;
    text-align: center;
}

.active {
    background-color: rgba(176, 242, 182, 0.47);
}

.active .player-name {
    font-weight: 300;
}

.player-current-box {
    margin: 0 auto;
    padding: 12px;
    width: 40%;
    background-color: #EB4D4D;
    color: #fff;
    text-align: center;
    letter-spacing: 1.2px;
    border-radius: 4px;
}

.player-current-label {
    margin-bottom: 10px;
    color: #fff;
    font-size: 12px;
    text-transform: uppercase;
}

.player-current-score {
    font-size: 30px;
}

button {
    position: absolute;
    width: 200px;
    left: 50%;
    color: #555;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-transform: uppercase;
    transform: translateX(-50%);
    transition: background-color 0.3s, color 0.3s;
    cursor: pointer;
    background: none;
    border: none;
}

button:hover {
    font-weight: 700;
}

button:hover i {
    margin-right: 20px;
}

button:focus {
    outline: none;
}

i {
    display: inline-block;
    margin-top: -4px;
    margin-right: 15px;
    line-height: 1;
    color: #EB4D4D;
    font-size: 32px;
    vertical-align: text-top;
    transition: margin 0.3s;
}

.btn-new {
    top: 45px;
}

.btn-roll {
    top: 403px;
}

.btn-hold {
    top: 467px;
}

.btn-how {
    top: 95px;
}

.dice {
    position: absolute;
    left: 50%;
    top: 178px;
    height: 100px;
    background-color: transparent;
    box-shadow: 0px 10px 60px rgba(0, 0, 0, 0.10);
    transform: translateX(-50%);
    border-radius: 15px;
}

.winner {
    background-color: #f7f7f7;
}

.winner .player-name {
    color: #EB4D4D;
    font-weight: 500;
}